.chat-detail {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.chat-detail.admin,
.chat-detail.not--me {
  flex-direction: row-reverse;
}

.chat-detail > .chat-msg {
  border: 1px solid var(--main-color);
  border-radius: 4.07px;
  font-size: 14px;
  font-weight: bold;
  padding: 13px 12px;
  max-width: 220px;
  word-wrap: break-word;
  display: inline-block;
  line-height: 16px;
}

.chat-detail.me > .chat-msg {
  color: #555555;
  background-color: #fff;
  border: 1px solid var(--main-color);
}
.chat-detail.not--me > .chat-msg {
  color: #555555;
  background-color: #fff;
  border: 1px solid #fff;
}
.chat-detail.admin > .chat-msg {
  color: #fff;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
}
.chat-detail > .chat__time {
  font-size: 10px;
  color: rgba(85, 85, 85, 0.4);
  align-self: flex-end;
  margin-bottom: 2px;
}
.chat-detail.not--me > .chat__time,
.chat-detail.admin > .chat__time {
  margin-left: 5px;
}
.chat-detail.me > .chat__time {
  margin-right: 5px;
}
.chat-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chat-profile__img > img {
  width: 30px;
  height: 30px;
}
.chat-detail.not--me .chat-profile,
.chat-detail.admin .chat-profile {
  margin-right: 10px;
}
.chat-detail.me .chat-profile {
  margin-left: 10px;
}
.chat-profile__name {
  font-size: 10px;
  margin-top: 2px;
}
