.restroom-preview {
  background-color: #fff;
  height: 110px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(201, 201, 201, 0.4);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.restroom-preview__header--title {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  color: #555555;
}
.restroom-preview__header--desc {
  font-size: 12px;
  color: #555555;
}
.restroom-preview__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  /* border: 1px solid #000; */
}
.restroom-preview__hash {
  display: flex;
  justify-content: center;
  align-items: center;
}
.restroom-preview__hash > div {
  margin-right: 5px;
}
.restroom-preview__meet {
  display: flex;
  justify-content: center;
  align-items: center;
}
.restroom-preview__meet-status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.restroom-preview__meet-status > img {
  width: 12px;
  height: 10px;
  margin-right: 4px;
}
.restroom-preview__count {
  display: flex;
  justify-content: center;
  align-items: center;
}
.restroom-preview__count > img {
  width: 10px;
  height: 12px;
  margin-right: 4px;
}
@keyframes ModalUp {
  0% {
    top: 55%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}
