.restroom-preview {
  background-color: #fff;
  height: 119px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(201, 201, 201, 0.4);
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.restroom-preview__header--title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}
.restroom-preview__header--desc {
  font-size: 12px;
}
.restroom-preview__body {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 10px;
}
.restroom-preview__meet-status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.restroom-preview__meet-status > img {
  width: 12px;
  height: 10px;
  margin-right: 4px;
}
.restroom-preview__count {
  display: flex;
  justify-content: center;
  align-items: center;
}
.restroom-preview__count > img {
  width: 10px;
  height: 12px;
  margin-right: 4px;
}
