.filter-container {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  color: #555555;
}
.filter__header {
  padding: 20px;
  padding-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter__header--icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.filter__header--icon > img {
  width: 100%;
  height: 100%;
}
.filter__header--title {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}
/* body */
.filter__body {
  padding: 15px 15px;
}
.room-entity,
.room-grade,
.user-gender,
.user-common,
.meet-purpose {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}
.room-entity__title,
.room-grade__title,
.user-gender__title,
.user-common__title,
.meet-purpose__title {
  display: inline-block;
  width: 60px;
  height: 100%;
  margin-right: 8px;
  font-size: 13px;
  font-weight: bold;
  margin-top: 3%;
  align-self: flex-start;
}
.room-entity__select,
.room-grade__select,
.user-gender__select,
.user-common__select,
.meet-purpose__select {
  width: 280px;
}
.room-user__select {
  position: relative;
  padding: 0 25px;
}

.room-entity__select > input[type="radio"],
.room-grade__select > input[type="radio"],
.user-gender__select > input[type="radio"],
.user-common__select > input[type="radio"],
.meet-purpose__select > input[type="checkbox"] {
  display: none;
}
.room-entity__select > input[type="radio"] + label,
.room-grade__select > input[type="radio"] + label,
.user-gender__select > input[type="radio"] + label,
.user-common__select > input[type="radio"] + label,
.meet-purpose__select > input[type="checkbox"] + label {
  display: inline-block;
  border: 1px solid rgba(85, 85, 85, 0.3);
}
.room-entity__select > input[type="radio"]:checked + label,
.room-grade__select > input[type="radio"]:checked + label,
.user-gender__select > input[type="radio"]:checked + label,
.user-common__select > input[type="radio"]:checked + label,
.meet-purpose__select > input[type="checkbox"]:checked + label {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.room-entity__select > label,
.room-grade__select > label,
.user-gender__select > label,
.user-common__select > label,
.meet-purpose__select > label {
  text-align: center;
  font-size: 13px;
  margin-right: 10px;
  border-radius: 4px;
}
.room-entity__select > label,
.room-grade__select > label,
.user-gender__select > label,
.user-common__select > label,
.meet-purpose__select > label {
  padding: 10px;
}
.user-common__select > label,
.meet-purpose__select > label {
  margin-bottom: 10px;
}
.user-common__select > label:first-of-type {
}
.meet-purpose__title {
  text-align: center;
}
.meet-purpose__title > span:nth-child(2) {
  font-size: 10px;
}
.common__text {
  display: block;
  color: var(--main-color);
  font-size: 11px;
}
