.promise-modal__container {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #555555;
}
.promise-modal__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.promise-modal__detail > div {
  font-size: 14px;
  font-weight: bold;
  color: var(--main-color);
}
.promise-modal__detail > div:first-of-type {
  margin-bottom: 10px;
}
.promise-modal__detail > div:nth-of-type(2) {
  margin-bottom: 10px;
  font-weight: 200;
  padding-left: 20px;
  font-size: 12px;
  position: relative;
}
.promise-modal__detail > div:nth-of-type(3) {
  font-size: 12px;
  margin-bottom: 8px;
  padding-left: 20px;
  font-weight: 200;
  position: relative;
}
.promise-modal__detail > div:nth-of-type(2)::before,
.promise-modal__detail > div:nth-of-type(3)::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: " ";
  z-index: 9999;
}
.promise-modal__detail > div:nth-of-type(2)::before {
  width: 15px;
  height: 18px;
  left: 0px;
  background: url("../../../../assets/promise/cal.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.promise-modal__detail > div:nth-of-type(3)::before {
  width: 13px;
  height: 17px;
  left: 0;
  background: url("../../../../assets/promise/location.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.promise-modal__desc {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}
.promise-modal__desc.first {
  margin-bottom: -10px;
}
.promise-modal__desc > div:first-of-type {
  width: 50px;
  font-size: 12px;
  font-weight: bold;
}
.promise-modal__desc > div:last-of-type {
  width: 90%;
  font-size: 12px;
  line-height: 20px;
}
.promise-modal__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  margin-top: 20px;
}
.promise-modal__button > button {
  padding: 15px 12px;
  border-radius: 4px;
}
.promise-modal__button > button:first-of-type {
  background-color: #fff;
  color: #555555;
  border: 1px solid rgba(85, 85, 85, 0.5);
  width: 35%;
}
.promise-modal__button > button:last-of-type {
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
  width: 60%;
}
