.home__container {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  padding-top: 120px;
}
.home__image {
  width: 150px;
  height: 180px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.home__image > img {
  width: 100%;
  height: 100%;
}
.home__title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0px;
  margin-bottom: 30px;
}
.home__title > span {
  color: var(--main-text-color);
}
.home__title > span:nth-of-type(1) {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
  color: #555555;
}
.home__title > span:nth-of-type(2) {
  font-size: 14px;
}
.home_user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home_user > button {
  width: 155px;
  height: 33px;
  background: #c4c4c4;
  border-radius: 4.06593px;
  border: none;
  font-size: 14px;
  color: var(--main-text-color);
}
