.register-container {
  background-color: #fff;
  height: 100vh;
  width: 100%;
}
.register__components--carousel {
  position: static !important;
}
.register__body {
  padding: 0px 75px;
  padding-top: 100px;
  height: 100vh;
  border: 1px solid #000;
  position: relative;
}
.register-indicator__button svg {
  opacity: 0;
}
.register-indicator__button span {
  border-radius: 50%;
  background-color: rgba(85, 85, 85, 0.3);
  width: 8px;
  height: 8px;
  margin: 0 2px;
}
.register-indicator__button-active {
  border: 1px solid yellow;
}
.register-indicator__button-active span {
  background-color: var(--main-color);
  width: 16px;
  height: 8px;
  border-radius: 4.07px;
}
