.create-detail {
  background-color: #fff;
  height: 100vh;
}
.create-detail__header {
  padding: 20px;
}

.create-detail__header > div {
  width: 20px;
  height: 20px;
}
.create-detail__header > div > img {
  width: 100%;
  height: 100%;
}

.create-detail__body {
  margin-top: 10px;
  padding: 30px 20px;
  position: relative;
}
.create-detail__body--img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-detail__components {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.create-detail__components--carousel {
  position: static !important;
  text-align: center;
  overflow: visible !important;
  /* border: 1px solid #000; */
}
.create-detail__components--carousel > div {
  z-index: 99;
}
.create-detail__components--carousel > div > button:focus,
.create-detail__components--carousel > div > button:checked,
.create-detail__components--carousel > div > button:hover {
  background-color: transparent !important;
}
.create-detail__components--carousel > div > button[aria-label="Previous"],
.create-detail__components--carousel > div > button[aria-label="Next"] {
  position: absolute;
  top: 50px !important;
  background-color: transparent;
  background-image: url("../../../assets/icons/createroom/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.create-detail__components--carousel > div > button[aria-label="Previous"] {
  left: 10px !important;
}
.create-detail__components--carousel > div > button[aria-label="Next"] {
  right: 10px !important;
  transform: scaleX(-1);
}
.create-detail__components--carousel > div > button > span {
  display: none;
}

/* modal */
.stop-modal__title {
  font-size: 16px;
  color: #555555;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
.stop-modal__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stop-modal__btn-container > button {
  padding: 10px 8px;
  padding-bottom: 0;
  border: none;
  background-color: #fff;
  font-size: 13px;
  color: #8d8d8d;
}
.stop-modal__btn-container > button:active {
  color: var(--main-color);
}
