.promise-title__container {
  width: 240px;
  height: 100%;
  padding: 10px;
  text-align: center;
}
.promise-title__title {
  font-size: 18px;
  color: #555555;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}
.promise-title__title > div {
}

.promise-title-input__container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promise-title-input__container > input {
  border-radius: 5px;
  border: 1px solid rgba(85, 85, 85, 0.3);
  padding: 10px;
  text-align: left;
}
.promise-title-input__container > input::placeholder {
  text-align: center;
}
.promise-title-input__container > input:focus {
  outline: none;
}
